<div class="container featurette">
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">About - Abigail Chin</h2>
        <p class="lead">Hi, team lead here! I am currently a Senior at SFSU studying Computer Science. I specialize in iOS application development using Swift. I'm a little out of my element with web development but looking forward to the challenge. </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="../../images/dev_team/abby_profile.jpg" alt="Developer Profile Photo">
      </div>
    </div>
  
    <hr class="featurette-divider">
  </div>