<div class="container featurette">
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">About - Alyssa Shah</h2>
        <p class="lead">I am a Senior going to San Francisco State University.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="../../images/dev_team/alyssa_profile.jpg" alt="Developer Profile Photo">
      </div>
    </div>

    <hr class="featurette-divider">
  </div>