<div class="container featurette">
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">About - Dhruv Shah</h2>
        <p class="lead">I am a Senior going to San Francisco State University. Currently I am learning about Search Engine and exploring and learning how to use and work with cloud based servers to develop a buy and sell website for Sf State Studnets. On weekends, I am playing volleyball and racqetball. Occasionally I cook.  </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="../../images/dev_team/dhruv_profile.jpg" alt="Developer Profile Photo">
      </div>
    </div>

    <hr class="featurette-divider">
  </div>