<div class="container featurette">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">About - Jarek Rettinghouse</h2>
      <p class="lead">My name is Jarek Rettinghouse and I am a Student at San Francisco State University. When I first began to study here I was interested in getting a degree in Biology with an interest in a pre-med route. I took a Computer Science introduction class for fun one semester when I began taking my major classes for Biology and then fell in love with programming.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../../images/dev_team/jarek_profile.jpg" alt="Developer Profile Photo">
    </div>
  </div>

  <hr class="featurette-divider">
</div>