<div class="container featurette">
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">About - Jed Ahmadia </h2>
        <p class="lead">Hi my name is Jed! I am a SF State student and my favorite hobbies are football, basketball, hiking and watching movies.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="../../images/dev_team/jed_profile.jpg" alt="Developer Profile Photo">
      </div>
    </div>
  
    <hr class="featurette-divider">
  </div>