<div class="container featurette">
        <hr class="featurette-divider">
      
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">About - Nikita Bajracharya</h2>
            <p class="lead">Hello, My name is Nikita Bajracharya. I am an international student from Nepal. I came to United States of America with a goal to pursue my career in Biology, but after few semesters I got attracted towards 
                Technology and programming world. So, I changed my major to Computer Science. This field helped me to learn many skills from time management and decision making to critical thinking. I love my works, and will continue to do more.</p>
             <p>Currently, I am a senior Computer Science student expecting to graduate by Fall 2018.  </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../../images/dev_team/nikita_profile.jpg" alt="Developer Profile Photo">
          </div>
        </div>
      
        <hr class="featurette-divider">
      </div>