<div class="container featurette">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">About - Robert Quiñones</h2>
      <p class="lead">Hi there, I'm Robert Quiñones and I'm a Senior at SFSU. I'm on track to graduate by May 2019. I'm currently the Backend Lead for Team 04. I love learning about web and mobile technologies.
      After graduation I will be joining Adobe Systems in Seattle, Washington as a Software Engineer in Test - and I can't wait.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../../images/dev_team/robert_profile.jpg" alt="Developer Profile Photo">
    </div>
  </div>

  <hr class="featurette-divider">
</div>