<!-- Footer -->

<footer class="page-footer font-small indigo">
    <!-- Footer Links -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-1">
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/about" style="color:#9575cd"><small>About us</small></a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/search" style="color:#9575cd"><small>Products</small></a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/privacy" style="color:#9575cd"><small>Privacy</small></a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/admin" style="color:#9575cd"><small>Admins</small></a>
          </h6>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
      <hr class="rgba-white-light" style="margin: 0 15%;background-color:#9575cd"  >
  
      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-1">
  
        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5">
         
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  
      <!-- Grid row-->
      <div class="container row pb-10">
  
        <!-- Grid column -->
        <div class="col-md-12 text-center">
  
          <div class="mb-5 flex-center">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <a href = "https://www.facebook.com/" style="color:#9575cd"> <i class="fa fa-facebook fa-sm blue-text mr-4"> </i></a>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <a href = "https://twitter.com/?lang=en" style="color:#9575cd"><i class="fa fa-twitter fa-sm blue-text mr-4"> </i></a>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <a href = "https://plus.google.com/discover" style="color:#9575cd"> <i class="fa fa-google-plus fa-sm red-text mr-4"> </i></a>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <a href = "https://www.linkedin.com/" style="color:#9575cd"><i class="fa fa-linkedin fa-sm red-text mr-4"> </i></a>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <a href = "https://www.instagram.com/?hl=en" style="color:#9575cd"> <i class="fa fa-instagram fa-sm purple-text mr-4"> </i></a>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <a href = "https://www.pinterest.com/" style="color:#9575cd"><i class="fa fa-pinterest fa-sm red-text"> </i></a>
            </a>
  
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="/" style="color:#9575cd">GT</a>
    </div>
    <!-- Copyright -->
      
  </footer>
  <!-- Footer -->