<!DOCTYPE html>
<html lang="en">
  <% include ./partials/header.ejs %>

  <body>
    <% include ./partials/navbar.ejs %>
    <div class="container">
      <%- body %>
    </div>

    <!-- FOOTER -->
    <% include ./partials/footer.ejs %>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ./partials/scripts.ejs %>
  </body>
</html>
