<!DOCTYPE html>
<html lang="en">
  <% include ./partials/header.ejs %>

  <body>
    <h4 style="text-align: center;">SFSU - Software Engineering Project CSC 648-848 - Fall 2018 Section 01 Team 04 - For Demonstation Only</h4>
    <% include ./partials/navbar.ejs %>
    <div class="container">
      <%- body %>
    </div>

    <!-- FOOTER -->
    <% include ./partials/footer.ejs %>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ./partials/scripts.ejs %>
  </body>
</html>
