.navbar {
    background: #222222;
    height: 65px;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #fec400;
    transition: 0.2s;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
}

.nav-link {
    /* padding: 15px 5px; */
    margin-right: 5px;
    transition: 0.2s;
    height: 30px;
    width: 100px;
    text-align: center;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #212529;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: #fec400;
}

.glyphicon-search {
    margin-right: 3px;
}

.form-inline {
    position: relative;
    left: 100px;
    align-content: center;
}

.search-bar {
    margin-top: 20px;
}

form-control {
    position: relative;
    margin-top: 10px;
    width: 0%;
    min-width: 500px;
    float: right;
    overflow: show;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
}