<!-- Main jumbotron for a primary developer message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      Software Engineering - SFSU<br />
      Fall 2019 - Section 01<br />
      Team 04
    </h1>
    <p>Team 04 is comprised of 7 students with a passion for software - Get to know more about them below!</p>
  </div>
</div>


<!-- developer messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container developer">
  <h1>Team Leads</h1>
  <br />

  <div class="row">
    <div class="col-lg-3">
      <img class="rounded-circle" src="../../images/dev_team/abby_profile.jpg" alt="Developer Profile Image" width="140" height="140">
      <h2>Abigail Chin</h2>
      <p><strong>Role</strong>
          - Team Lead<br />
          <strong>Grade Level</strong>
          - Senior<br />
          <strong>Graduation Year</strong>
           - 2019
      </p>
      <p><a class="btn btn-secondary" href="about/abby" role="button">Learn More &raquo;</a></p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="rounded-circle" src="../../images/dev_team/dhruv_profile.jpg" alt="Developer Profile Image" width="140" height="140">
      <h2>Dhruv Shah</h2>
      <p><strong>Role</strong>
          - Front End Lead<br />
          <strong>Grade Level</strong>
          - Senior <br />
          <strong>Graduation Year</strong>
           - 2019
      </p>
      <p><a class="btn btn-secondary" href="about/dhruv" role="button">Learn More &raquo;</a></p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="rounded-circle" src="../../images/dev_team/robert_profile.jpg" alt="Developer Profile Image" width="140" height="140">
      <h2>Robert Quiñones</h2>
      <p><strong>Role</strong>
          - Back End Lead<br />
          <strong>Grade Level</strong>
          - Senior<br />
          <strong>Graduation Year</strong>
           - 2019
      </p>
      <p><a class="btn btn-secondary" href="about/robert" role="button">Learn More &raquo;</a></p>
    </div><!-- /.col-lg-3 -->
  </div><!-- /.row -->

  <br />
  <hr />
  <br />

  <h1>Software Developers</h1>
  <br />

  <div class="row">
    <div class="col-lg-3">
      <img class="rounded-circle" src="../../images/dev_team/alyssa_profile.jpg" alt="Developer Profile Image" width="140" height="140">
      <h3>Alyssa Malunao</h3>
      <p><strong>Role</strong>
          - Front End Developer<br />
         <strong>Grade Level</strong>
          - Senior<br />
         <strong>Graduation Year</strong>
          - 2019
      </p>
      <p><a class="btn btn-secondary" href="about/alyssa" role="button">Learn More &raquo;</a></p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="rounded-circle" src="../../images/dev_team/jarek_profile.jpg" alt="Developer Profile Image" width="140" height="140">
      <h3>Jarek Rettinghouse</h3>
      <p><strong>Role</strong>
          - Back End Developer<br />
         <strong>Grade Level</strong>
          - Senior<br />
         <strong>Graduation Year</strong>
          - 2019
      </p>
      <p><a class="btn btn-secondary" href="about/jarek" role="button">Learn More &raquo;</a></p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="rounded-circle" src="../../images/dev_team/jed_profile.jpg" alt="Developer Profile Image" width="140" height="140">
      <h3>Jed Ahmadia</h3>
      <p><strong>Role</strong>
          - Front End / QA Developer<br />
          <strong>Grade Level</strong>
          - Senior<br />
          <strong>Graduation Year</strong> 
          - 2019
      </p>
      <p><a class="btn btn-secondary" href="about/jed" role="button">Learn More &raquo;</a></p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="rounded-circle" src="../../images/dev_team/nikita_profile.jpg" alt="Developer Profile Image" width="140" height="140">
      <h3>Nikita Bajracharya</h3>
      <p><strong>Role</strong>
          - Front End<br />
          <strong>Grade Level</strong>
          - Senior<br />
          <strong>Graduation Year</strong> 
          - 2019
      </p>
      <p><a class="btn btn-secondary" href="about/nikita" role="button">Learn More &raquo;</a></p>
    </div><!-- /.col-lg-3 -->
  </div><!-- /.row -->

</div><!-- /.container -->