<div class="container">
    <h2>Admin Dashboard</h2>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Pending Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">User Data</a>
        </li>
    </ul>

    <!-- Tab panes -->
       <!-- Pending Items Tab -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <h3>Items awaiting for approval</h3>
            <p> </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Location
                            </th>
                            <th>
                                Approve
                            </th>
                            <th>
                                Deny
                            </th>
                        </tr>
                        <tr>
                            <td>
                                   <!-- clickable images -->
                                <a href="" class="btn">
                                    <img src="https://res.cloudinary.com/hx8ztvtac/image/upload/v1539811936/samples/ecommerce/books.jpg"
                                        class="img-thumbnail" alt="Cinque Terre" width="250" height="300">
                                    </a>
                                </td>
                            <td>Anna</td>
                            <td>Pitt</td>
                            <td>$35</td>
                            <td>New York</td>
                            <td>    
                                <form class="form-horizontal" action="/action_page.php">
                                <div class="form-group">
                                    <button type="allow" class="btn btn-success">Allow</button>
                            </form>
                        </td>
                            <td>
                                    <form class="form-horizontal" action="/action_page.php">
                                        <div class="form-group">
                                            <button type="deny" class="btn btn-danger">Deny</button>
                                    </form>
                            </td>

                        </tr>
                        <tr>
                                <td>
                                       <!-- clickable images -->
                                    <a href="" class="btn">
                                        <img src="https://res.cloudinary.com/hx8ztvtac/image/upload/v1539125824/samples/bike.jpg"
                                            class="img-thumbnail" alt="Cinque Terre" width="250" height="300">
                                        </a>
                                    </td>
                                <td>Anna</td>
                                <td>Pitt</td>
                                <td>$35</td>
                                <td>New York</td>
                                <td>    
                                    <form class="form-horizontal" action="/action_page.php">
                                    <div class="form-group">
                                        <button type="allow" class="btn btn-success">Allow</button>
                                </form>
                            </td>
                                <td>
                                        <form class="form-horizontal" action="/action_page.php">
                                            <div class="form-group">
                                                <button type="deny" class="btn btn-danger">Deny</button>
                                        </form>
                                </td>
    
                            </tr>
                    </thead>
                </table>
            </div>
        </div>

           <!-- User Data Tab -->
        <div id="menu1" class="container tab-pane fade"><br>
            <h3>User approval</h3>
            <p> </p>
            <div class="container">
                <div class="table-responsive">
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Image
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Description
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Location
                                        </th>
                                        <th>
                                            Remove User
                                    </tr>
                                    <tr>
                                                <td>
                                                        <!-- clickable images -->
                                                     <a href="" class="btn">
                                                         <img src="https://res.cloudinary.com/hx8ztvtac/image/upload/v1539125830/samples/ecommerce/leather-bag-gray.jpg"
                                                             class="img-thumbnail" alt="Cinque Terre" width="250" height="300">
                                                         </a>
                                                     </td>
                                        <td>Anna</td>
                                        <td>Pitt</td>
                                        <td>$35</td>
                                        <td>New York</td>
                                        <td>
                                                <form class="form-horizontal" action="/action_page.php">
                                                    <div class="form-group">
                                                        <button type="deny" class="btn btn-danger">Remove</button>
                                                </form>
                                        </td>
            
                                    </tr>
                                </thead>
                            </table>
                </div>
            </div>
        </div>