<link href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">

    <h2>POST YOUR PRODUCT</h2>
    <form class="form-horizontal">
        <fieldset>

            <!--TITE INPUT-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">PRODUCT NAME*</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
                </div>
            </div>

            <!--DESCRIPTION BOX -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textarea">PRODUCT DESCRITPTION*</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="textarea" name="textarea"></textarea>
                </div>
            </div>

            <!-- PRICE INPUT-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">PRICE($)*</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Select Categories -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">CATEGORY*</label>
                <div class="col-md-4">
                    <select id="selectbasic" name="selectbasic" class="form-control">
                        <option value="1">Apparels</option>
                        <option value="2">Books</option>
                        <option value="3">Electronics</option>
                        <option value="4">Events</option>
                        <option value="5">Home Goods</option>
                        <option value="6">Services</option>
                    </select>
                </div>
            </div>

            <!-- Select Locations -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">MEETING LOCATIONS*</label>
                <div class="col-md-4">
                    <select id="selectbasic" name="selectbasic" class="form-control">
                        <option value="1">J.PAUL LEONARD LIBRARY</option>
                        <option value="2">STUDENT CENTER</option>
                        <option value="3">CAFE</option>
                    </select>
                </div>
            </div>

            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="filebutton">UPLOAD AN IMAGE*</label>
                <div class="col-md-4">
                    <input id="filebutton" name="filebutton" class="input-file" type="file">
                </div>
            </div>

            <!-- POST Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton">POST</label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-success">POST</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>