<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<body>
	<div class="container">
	  <div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
		  <div class="card card-signin my-5">
			<div class="card-body">
			  <h5 class="card-title text-center" style="color:#9575cd"><font size = +3><b>Sign In</b></font></h5>
			  <br>
			
			<!--Not Registered Link-->
			  <div class="container" >
				<span class="psw"><a href="/signup" style="color:#9575cd"><font size = -1><p align="right">Not Registered? Sign Up</p></font></a></span>
			  </div>
			<!--Not Registered Link-->	

			
		<!--Email and Password Input-->
			  <form class="form-signin">
				<div class="form-label-group">
				  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus style="border-color: #9575cd; ">
				  <label for="inputEmail">Email address</label>
				</div>
  
				<div class="form-label-group">
				  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required style="border-color: #9575cd; ">
				  <label for="inputPassword">Password</label>
				</div>
  
				<div class="custom-control custom-checkbox mb-3">
				  <input type="checkbox" class="custom-control-input" id="customCheck1" >
				  <label class="custom-control-label" for="customCheck1">Remember password</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" style="color:#9575cd">Sign in</button>
				<hr class="my-4">

		<!--Email and Password Input-->
				
		<!--Forogt Password-->
				<div class="container" >
					<span class="psw"><a href="/resetpassword" style="color:#9575cd">Forgot password?</a></span>
				  </div>
		<!--Forogt Password-->
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </body>
