<!--Login Page-->
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="card card-signin my-5">
				<div class="card-body">
						<br>
						<!--Link to Sign Up Page-->
						<div class="float-right">
							<span class="psw" ><a href="/signup"><p style="color: #9575cd">Not Registered? Sign Up</p></a></span>
						</div>
						<br>
			
						<!-- Link to Sign Up Page-->
						<h1 class="card-title" style="color: #9575cd"><font size=+3>Sign In</font></h1>
						<hr style="background-color: #9575cd">
						<% include ../error.ejs %>

			
						<!--Email and Password Input-->
						<form class="form-signin" method="POST" action="/login">
							<div class="form-group">
								<label for="inputEmail" style="color: #9575cd">Email</label>
								<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" style="border:0mm">
								<small id="emailHelp" class="form-text text-muted">This should be your school email(@mail.sfsu.edu)</small>
							</div>
			
							<div class="form-group">
								<label for="inputPassword" style="color: #9575cd">Password</label>
								<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" style="border:0mm">
							</div>
			
							<!--Remember email and password-->
							<div class="custom-control custom-checkbox mb-3">
								<input type="checkbox" class="custom-control-input" id="customCheck1">
								<label class="custom-control-label" for="customCheck1" style="color: #9575cd">Remember password</label>
							</div>
			
							<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" style="color: white; background-color: #9575cd; border-color: #9575cd ">Sign In</button>
							<hr class="my-4" style="background-color: #9575cd">
			
							<!--Forgot Password Link-->
							<div class="container">
								<span class="psw"><a href="/resetpassword"><p class="text-center" style="color: #9575cd">Forgot password?</p></a></span>
							</div>
						</form>
				</div>	
			</div>			
	</div>
</div>
</div>