
<!--Forgot Password Page-->
<div class="container" style="margin:50px 250px">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
        <% include ../error.ejs %>
            <div class="panel-heading"><h2 class="text-center"><strong>Forgot your password?</strong></h2> 
            <hr>
                <div class="panel-body">
                <!--Form Input-->
                    <form id="password-reset" action="/resetpassword" method="post">
                        <div class="form-group" action = "/resetpassword" method = "post">
                        <label for="e-mail" class="text" style = "color: #9575cd">Enter SFSU E-mail with info to get password</label>
                            <input type="text" class="form-control" name="inputEmail" id="inputEmail" placeholder="Please Enter Your SFSU e-mail" required="">

                            <label for="firstname" class="text" style = "color: #9575cd">Enter First Name</label>
                            <input type="text" class="form-control" name="inputfirstname" id="inputfirstname" placeholder="Please Enter Your First Name" required="">

                            <label for="lastname" class="text" style = "color: #9575cd">Enter Last Name</label>
                            <input type="text" class="form-control" name="inputlastname" id="inputlastname" placeholder="Please Enter Your Last Name" required="">
                            
                            <label for="secretoptions" class="text" style = "color: #9575cd">Example Security Questions</label>
                            <select class="form-control" id="questionselection">
                                <option value="">Question 1</option>
                                <option value="">Question A</option>
                                <option value="">Question 9</option>
                                <option value="">Question Z</option>
                            </select>

                            <label for="secret" class="text" style = "color: #9575cd">Enter Secret Phrase</label>
                            <input type="text" class="form-control" name="secret" id="secret" placeholder="Secret" required="">

                            <label for="password" class="text" style = "color: #9575cd">Enter New Password</label>
                            <input type="password" class="form-control" name="newpassword" id="newpassword" placeholder="New Password" required="">

                            <label for="password" class="text" style = "color: #9575cd">Reenter New Password</label>
                            <input type="password" class="form-control" name="reenterpassword" id="reenterpassword" placeholder="New Password" required="">

                        </div>
                            <button type="submit" formmethod = "post" class="btn btn-large btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
