<!--Forgot Password Page-->
<div class="container" style="margin:50px 250px">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="text-center"><strong>Forgot your password?</strong></h2> 
            <hr>
                <div class="panel-body">
                <!--Form Input-->
                    <form id="password-reset">
                        <div class="form-group">
                            <label for="e-mail" class="text-info" style = "color: #9575cd">Enter SFSU E-mail to get password</label>
                            <input type="e-mail" class="form-control" id="inputEmail" placeholder="Please Enter Your SFSU e-mail" required="">
                            <input type="firstname" class="form-control" id="inputEmail" placeholder="Please Enter Your First Name" required="">
                            <input type="lastname" class="form-control" id="inputEmail" placeholder="Please Enter Your Last Name" required="">
                            <!--<input type="secretphrase" class="form-control" id="inputEmail" placeholder="Please Enter Your secret phrase" required="">-->
                            <input type="newpassword" class="form-control" id="inputEmail" placeholder="Please Enter Your new Password" required="">
                            <label for="e-mail" class="text-info" >Example Security question #1</label>
                            <label for="e-mail" class="text-info" >Example Security question #2</label>
                        
                        </div>
                                                                                
                            <button type="submit" class="btn btn-large btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
