<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xl-8 offset-xl-2">
      <% include ../error.ejs %>
      <br>
      <br>
      <h1>Sign Up</h1>
      <hr>
            
      <form class="form-signin form-group" method="POST" action="/signup" enctype="multipart/form-data">
        <div class="controls">
          <div class="row">
            <!-- Form Input -->
            <div class="col-lg-6">
              <div class="form-group">
                <label for="form_name">First Name *</label>
                <input id="form_name" type="text" name="first_name" class="form-control" placeholder="Please Enter Your First Name" required="required"
                    data-error="First Name is required." max-length="40" pattern="^[A-Za-z0-9 ]*$" title="Alphanumeric Characters Only">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="form_lastname">Last Name *</label>
                <input id="form_lastname" type="text" name="last_name" class="form-control" placeholder="Please Enter Your Last Name" required="required"
                    data-error="Last Name is required." max-length="40" pattern="^[A-Za-z0-9 ]*$" title="Alphanumeric Characters Only">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="form_email">SFSU Email <small>(Must end in @mail.sfsu.edu) *</small></label>
                <input id="form_email" type="email" name="email" class="form-control" placeholder="Please Enter Your SFSU Email" required="required"
                       data-error="Valid SFSU Email is required." max-length="40">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="form_password">Password <small>(8 character minimum) *</small></label>
                <input id="form_password" type="password" name="password" class="form-control" placeholder="Please Enter Your Password"
                       max-length="40" pattern="^[A-Za-z0-9 ]*$" title="Alphanumeric Characters Only">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="form_confirm_password">Confirm Password *</label>
                <input id="form_confirm_password" type="password" name="phone" class="form-control" placeholder="Please Re-Enter Your Password"
                  max-length="40" pattern="^[A-Za-z0-9 ]*$" title="Alphanumeric Characters Only">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>

          <!-- Profile Picture-->
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="form_upload_profile_picture">Upload Profile Picture *</label>
                <br>
                <input type="file" id="image" name="image" accept="image/*" required>
              </div>
            </div>
          </div>      

          <!--Captcha-->
          <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
            <input class="d-none" data-recaptcha="true" data-error="Please complete the Captcha">
            <div class="help-block with-errors"></div>
          </div>

          <!--Agree to Terms onchange="document.getElementById('create_account').disabled = !this.checked;"-->     
          <input type="checkbox" onchange="document.getElementById('create_account').disabled = !this.checked;"
                 name="checkbox" value="check" id="agree"/> I have read and agree to the Terms and Conditions and Privacy Policy
          <br>
          <br>
        </div>
        <!--Submit SignUp Form-->    
        <button class="btn btn-lg btn-primary" type="submit" id="create_account" disabled>Create Account</button>
      </form>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
