<!--TESTING New home page-->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Under Construction!</h1>
    <p>Placeholder for our Test Page!</p>
  </div>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Placeholder" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Search</button>
  </div>
</div>

<!--  What is needed: 

1. Need Connection to Server 
2. Need Input and button to be sent to query
3. Need search query
4. Need way to return information to the page

-->


